*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #18122B;
    font-family: sans-serif;
    max-width: 100vw;
}

.main-container{
  justify-content: center;
  background-color: #ffebda;
  margin:1em;
  padding: 1em;
  border-radius: 5px;
  max-width: 95%;
}

input{
    border-radius: 5px;
    padding: .3em;
    font-size: 1rem;
  
}

button{
    border-radius: 5px;
    padding: .5em;
    background-color: #18122B;
    font-size: 1rem;
    color: white;
}

.search-button{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
}

img{
    max-width: 300px;
    border-radius: 5px;
}

.monster-container{
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.monster-title{
    font-size: 2rem;
}

h4{
    color: red;
    font-size: 1.2rem;
}

span{
    color: black;
    font-weight: bolder;
}