*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #2D033B;
    font-family: sans-serif;
}

.main-container{
  justify-content: center;
  background-color: #E5B8F4;
  margin:1em;
  padding: 1em;
  border-radius: 5px;
}

input{
    border-radius: 5px;
    padding: .8em;
    font-size: 1rem;
}

button{
    border-radius: 5px;
    padding: .8em;
    background-color: #6a4f7d;
    font-size: 1rem;
    color: white;
}

img{
    max-width: 300px;
    
    border-radius: 5px;
}

.monster-container{
    padding: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.monster-title{
    font-size: 2rem;
}