*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #2D033B;
}

.main-container{
  justify-content: center;
  background-color: #E5B8F4;
  margin:1em;
  padding: 1em;
  border-radius: 5px;
}

input{
    border-radius: 5px;
}

button{
    border-radius: 5px;
}

img{
    max-width: 300px;
    border: solid black 1px;
    border-radius: 5px;
}

.monster-title{
    font-size: 2rem;
}